<h1>Addition</h1>
<form action="/wizard_add">
  <label for="fn">Add this:</label>
  <input id="fn" name="first_num">
  <label for="sn">to this:</label>
  <input id="sn" name="second_num">
  <button> Add!</button>
</form>