<h1>New division</h1>
<form action="/wizard_divide">
  <label for="fn">Divide this:</label>
  <input id="fn" name="first_num">
  <label for="sn">by this:</label>
  <input id="sn" name="second_num">
  <button> Divide!</button>
</form>