<h1>Subtraction</h1>
<form action="/wizard_subtract">
  <label for="fn">Subtract this:</label>
  <input id="fn" name="first_num">
  <label for="sn">from this:</label>
  <input id="sn" name="second_num">
  <button> Subtract!</button>
</form>