<form action="/coords_to_weather/results">
  <label for="lat">Latitude</label>
  <input id="lat" name="lat">
  <label for="lng">Longitude</label>
  <input id="lng" name="lng">
  <button> Lookup Weather!</button>
</form>