<h1>Street address to coordinates calclation</h1>
<form action="/street_to_coords/results">
  <label for="add_in">Street Address</label>
  <input id="add_in" name="add_in">
  <button> Lookup Coordinates!</button>
</form>