<h1>Street address to weather calclation</h1>
<form action="/street_to_weather/results">
  <label for="add_in">Street Address</label>
  <input id="add_in" name="add_in">
  <button> Tell me the weather!</button>
</form>