<h1>New multiplication</h1>
<form action="/wizard_multiply">
  <label for="fn">Multiply this:</label>
  <input id="fn" name="first_num">
  <label for="sn">by this:</label>
  <input id="sn" name="second_num">
  <button> Multiply!</button>
</form>